.main-title {
    max-width: 100%;
    margin-top: 80px;
    position: relative;
    color: #292f36;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 60px;
}
.main-title:first-child {
    border-left: 10px solid #b8b9bb;
}
.services-text {
    font-size: 17px;
    font-weight: 900;
    line-height: 25px;
}
.services-content-text1 {
    margin-bottom: 28px;
}
.services-content-text2 {
    margin-bottom: 50px;
}
.social {
    display: flex;
    margin-bottom: 80px;
}
.social-item:not(:last-child) {
    margin-right: 2px;
}
.social-link {
    text-align: center;
    font-size: 24px;
    width: 60px;
    height: 60px;
    color: white;
    background-color: #c8cdd0;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .3s ease-in-out;
}
.social-link:hover {
    opacity: 1;
}
.services-list {
    max-width: 445px;
    margin-left: 20px;
    list-style: none;
    counter-reset: my-counter;
}
.services-item {
    counter-increment: my-counter;
    position: relative;
    transform: all .5s;
    margin-bottom: 12px;  
}
.services-item:before {
    content: "0" counter(my-counter);
    position: absolute;
    font-size: 20px;
    line-height: 54px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    background-color: #39a493;
    height: 50px;
    width: 50px;
}
.services-item-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    color: #292f36;
    margin-left: 65px;
    margin-bottom: 10px;
}
.services-item-text {
    font-size: 16px;
    font-weight: 400;
    margin-left: 65px;
    color: #8d8f92;
    line-height: 26px;
    margin-bottom: 30px;
}