*,
*:after,
*:before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Quattrocento Sans', sans-serif;
}
.container {
    display: flow-root;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-12 {
    font: 0 0 100%;
    max-width: 100%;
}
.col-xs-6{
    flex: 0 0 50%;
    max-width: 50%;
}

/* tablet */
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;    
    }
    .col-sm-7 {
        /* 7/12 */
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
}
/* laptop */
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}
/* desktop */
@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
/* only mobile */
@media (min-width:767px) {
    .col-xs-hidden {
        display: none;
    }
}






/*
.container {
    width: 100%;
    max-width: 1170px;
    max-height: 660px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    background-color: #1d2126;
    padding: 25px 0;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #a4aead;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 9px;
    border: 2px solid transparent;
    transition: color .3s;
}
.menu a:hover {
    border-color: #a4aead;
    border-radius: 10%;
}
.menu a:active {
    border-color: #23b7a4;
    color:#23b7a4;
} */
/* search start*/
/* .form-search {
    position: relative;
    border: 2px solid #a4aead;
    padding: 3px;
    width: 200px;
}
input {
    width: 100%;
}
.form-search input {
    border: none;
    background: transparent;
    height: 22px;
    font-size: 14px;
    padding: 0 38px 0 8px;
    color: #a4aead;
}
.form-search input:focus {
    border: none; 
    outline: none;
}
input[type="text"]::-webkit-input-placeholder {
    color: #7f9b98;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.search-btn {
    position: absolute;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    top: -2px;
    right: 0px;
    width: 22px;
    height: 22px;
    border: none;
    margin: 5px;
    cursor: pointer;
    background-color: #1d2126;
} */
/* intro start */
/* .intro {
    background: url(../images/bg-main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-content {
    display: flex;
    flex-direction: column;
    max-width: 654px;
    height: 100vh;
    padding-top: 220px;
}
.intro-title {
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.intro-text {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

.button {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 250px;
}

.button-more,
.button-video {
    border: 2px solid #fff;
    border-radius: 10%;
    padding: 13px 23px;
   line-height: 15px;
   margin-right: 5px;
}
.button-more:hover,
.button-video:hover {
    background-color: #23b7a4;
    border: 2px solid #fff;
} */
/* services start */
/* .services-content {
    max-width: 654px;
}
.services {
    padding-top: 80px;
}
.services-title {
    position: relative;
    color: #292f36;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 55px;
}
.services-title:first-child {
    border-left: 10px solid #b8b9bb;
}
.services-text {
    font-size: 17px;
    font-weight: 900;
    line-height: 25px;
}
.services-content-text1 {
    margin-bottom: 28px;
}
.services-content-text1 {

} */


