.members {
    margin-bottom: 100px;
}
.member {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 300px;
    background-repeat: no-repeat;
    background-clip: content-box;
    
}
.member:hover {
    background-color: #c8cdd0;
    opacity: 0.4;
}
.member:hover .member-social {
    display: block;
}
.member-1 {
    background-image: url(../images/member-1.png);
}
.member-2 {
    background-image: url(../images/member-2.png);
}
.member-3 {
    background-image: url(../images/member-3.png);
}
.member-4 {
    background-image: url(../images/member-4.png);
}
.member-desc {
    width: 260px;
    height: 70px;
    background-color: #e1e6ea;
    padding: 20px;
}
.member-title {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
}
.member-text {
    font-size: 14px;
    font-weight: 400;
    color: #8d8f92;
}
.member-social {
    display: none;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.network {
    height: 50px;
}
.network-link {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #3a454d;
    margin-bottom: 87px;
}
.members:hover>.member-desc {
    background-color: #3a454d;
}
.members:hover>.member-desc>.member-title {
    color: white;
}
.members:hover>.member-desc>.member-text {
    color: white;
}