.information {
    max-width: 555px;
    margin-bottom: 100px;
}
.map {
    margin-bottom: 57px;
}
.map-title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.map-decs {
    font-size: 17px;
    font-weight: 900;
    color: #8d8f92;
    line-height: 23px;
    
}











